/* Default Settings */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #000;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
}

/* Button Styles */
.btn {
  background: purple;
  color: #fff;
  padding: 20px 40px;
}















